<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head.ejs') %> 
<link href="/css/loginAndRegisterCustom.css" rel="stylesheet">
    <title>Login Heed.place</title>
  </head>

  <body>
<%- include ('../partials/navbar.ejs') %>
<div class="text-center card-body" id="pomodoro">
  <div class=”row”>
    <div class=”col-6 align-self-center”>
      <div class=”card card-block”>
        <%- include('../partials/flashMessagesAndErrors.ejs') %>
        <form class="form-signin" role="form" method="POST" action="/api/users/login">
          <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
          <a href="/api/users/register">Need to register?</a>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
          <div class="checkbox mb-3">
            <!-- <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label> -->
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <!-- <p class="mt-5 mb-3 text-muted"><a href="https://github.com/EdmontDantes/heed-dot-place" class="text-dark">github  </a><p>&copy; 2020 <span class="text-success"> Bogdan Kowaltchook</span></p></p> -->
        </form>
      </div>
      </div> 
      </div>
      </div> 
      <%- include ('../partials/footer.ejs') %>
</body>
</html>