<% if (messages.length) { %>
  <div class="alert alert-success alert-dismissable">
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      alert-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <%= messages %> 
  </div>
  <% } %>
  <% if (errors.length) { %>
    <div class="alert alert-danger alert-dismissable">
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        alert-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <%= errors %> 
    </div>
    <% } %>