body { padding-top: 100px; }

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}


/* card styles */
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');



/* End Short Break Styles */
/* Sticky footer styles
-------------------------------------------------- */



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* fa custom badge */

/* custom easytimer styles */