
<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head.ejs') %> 
<!-- <script src="/js/timerJSDOM.js"></script> -->
    <title>Heed.place home</title>
    
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>

        <main role="main" class="col-md-9 mx-sm-auto col-lg-10">
          <h1>404 error occurred: We have looked everywhere for the link you requested, Alas we can't find it, maybe you are requesting unathorized page, or simply misspelled something</h1>
        </main>
      </div>
    </div>
    <%- include ('../partials/footer.ejs') %>
    <!-- <script>
    let timer = new easytimer.Timer();
      $('#pomodoro .startButton').click(function () {
          timer.start();
      });
      
      $('#pomodoro .pauseButton').click(function () {
          timer.pause();
      });
      
      $('#pomodoro .stopButton').click(function () {
          timer.stop();
      });
      
      $('#pomodoro .resetButton').click(function () {
          timer.reset();
      });
      
      timer.addEventListener('secondsUpdated', function (e) {
          $('#pomodoro .countdown-values').html(timer.getTimeValues().toString());
      });
      
      timer.addEventListener('started', function (e) {
          $('#pomodoro .countdown-values').html(timer.getTimeValues().toString());
      });
      
      timer.addEventListener('reset', function (e) {
          $('#pomodoro .countdown-values').html(timer.getTimeValues().toString());
      });
          </script> -->
  </body>
</html>