
<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head.ejs') %> 
<!-- <script src="/js/timerJSDOM.js"></script> -->
    <title>Heed.place home</title>
    
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>

        <main role="main" class="col-md-9 mx-sm-auto col-lg-10">
          <!-- Pomodoro countdown -->
            <div class="text-center card-body" id="pomodoro">
              <div class="text-center cart-text">Public Pomodoro Countdown</div>
              <div class="container-timer">
                <div class="setters">
                  <div class="minutes-set">
                    <button data-setter="minutes-plus">+</button>
                    <button data-setter="minutes-minus">-</button>
                  </div>
                  <div class="seconds-set">
                    <button data-setter="seconds-plus">+</button>
                    <button data-setter="seconds-minus">-</button>
                  </div>
                </div>
                <div class="circle">
                    <svg width="300" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
                      <g transform="translate(110,110)">
                          <circle r="100" class="e-c-base"/>
                          <g transform="rotate(-90)">
                            <circle r="100" class="e-c-progress"/>
                            <g id="e-pointer">
                                <circle cx="100" cy="0" r="8" class="e-c-pointer"/>
                            </g>
                          </g>
                      </g>
                    </svg>
                </div>
                <div class="controlls">
                    <div class="display-remain-time">00:30</div>
                    <button class="play" id="pause"></button>
                </div>
              </div>
              </div>
            <!-- end of Pomodoro countdown -->
        </main>
      </div>
    </div>
    <%- include ('../partials/footer.ejs') %>
    <script src="/js/timerJSDOM.js"></script>
    <!-- <script>
    let timer = new easytimer.Timer();
      $('#pomodoro .startButton').click(function () {
          timer.start();
      });
      
      $('#pomodoro .pauseButton').click(function () {
          timer.pause();
      });
      
      $('#pomodoro .stopButton').click(function () {
          timer.stop();
      });
      
      $('#pomodoro .resetButton').click(function () {
          timer.reset();
      });
      
      timer.addEventListener('secondsUpdated', function (e) {
          $('#pomodoro .countdown-values').html(timer.getTimeValues().toString());
      });
      
      timer.addEventListener('started', function (e) {
          $('#pomodoro .countdown-values').html(timer.getTimeValues().toString());
      });
      
      timer.addEventListener('reset', function (e) {
          $('#pomodoro .countdown-values').html(timer.getTimeValues().toString());
      });
          </script> -->
  </body>
</html>