
<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head.ejs') %> 
<!-- <script src="/js/timerJSDOM.js"></script> -->
    <title>Heed.place home</title>
    
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>

        <main role="main" class="col-md-9 mx-sm-auto col-lg-10">
          <%- include('../partials/flashMessagesAndErrors.ejs') %>
          <div class="card">
            <div class="card-body">
              <div class="text-center card-title">public pomodoro countdown if you want extra feature please register and login</div>
                <div class="text-center h1 card-text">
                  <div id="pomodoroMain">
                   
                    <div class="values">00:25:00</div>
                      <div>
                          <button class="startButton">Start</button>
                        
                          <button class="stopButton">Stop</button>
                   
                      </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-success">
                  <br />
                  <br />
          
                
                </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <%- include ('../partials/footer.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js"></script>
    <script>
            // Main Pomodoro
            let timer = new Timer();
            $('#pomodoroMain .startButton').click(function () {
                timer.start({ startValues: [0,0,25,0,0], countdown: true, target: [0,0,0,0,0] });
            });
            
            
            $('#pomodoroMain .stopButton').click(function () {
                timer.stop();
            });
      
            timer.addEventListener('targetAchieved', function (e) {
              let audio = new Audio('/assets/ringtones/Heed_ringtone_end_pomodoro.mp3');
              audio.play();
            });
      
            timer.addEventListener('secondsUpdated', function (e) {
                $('#pomodoroMain .values').html(timer.getTimeValues().toString());
            });
            
            timer.addEventListener('started', function (e) {
                $('#pomodoroMain .values').html(timer.getTimeValues().toString());
            });
    </script>
  </body>
</html>